@import "../../styles/utils/variables.scss";

.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 12px;
	height: 36px;
	font-size: $text-size-paragraph-1;
	font-weight: $text-weight-strong;

	&-primary {
		background-color: $color-green;
		border-radius: 8px;
		color: $color-white;
		box-shadow: $box-shadow-regular;
	}

	&-secondary {
		background-color: $color-grey;
		color: $color-grey-dark;
		border-radius: 8px;

		&:hover {
			background-color: $color-blue-light;
			color: $color-blue;
		}
	}
}
